# debug file or logs
*.debug
*.log

# build files
**build**

# reference repos
./3rdparty/trt-samples-for-hackathon-cn/*
./3rdparty/stanford-cs193g-sp2010/*
./3rdparty/jetson_dla_tutorial/*
./3rdparty/torch2trt/*