[submodule "3rdparty/pybind11"]
	path = 3rdparty/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "3rdparty/stanford-cs193g-sp2010"]
	path = 3rdparty/stanford-cs193g-sp2010
	url = https://github.com/jaredhoberock/stanford-cs193g-sp2010.git
[submodule "3rdparty/jetson_dla_tutorial"]
	path = 3rdparty/jetson_dla_tutorial
	url = https://github.com/NVIDIA-AI-IOT/jetson_dla_tutorial.git
[submodule "3rdparty/trt-samples-for-hackathon-cn"]
	path = 3rdparty/trt-samples-for-hackathon-cn
	url = https://github.com/NVIDIA/trt-samples-for-hackathon-cn.git
[submodule "3rdparty/torch2trt"]
	path = 3rdparty/torch2trt
	url = https://github.com/NVIDIA-AI-IOT/torch2trt.git
